[submodule "public"]
	path = public
	url = https://github.com/mashu/mashu.github.io.git
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
